@font-face {
    font-family: 'Pou';
    src:url('Pou/Pou.ttf.woff') format('woff'),
        url('Pou/Pou.ttf.svg#Pou') format('svg'),
        url('Pou/Pou.ttf.eot'),
        url('Pou/Pou.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}
body{
	padding: 0;
	margin: 0;
}
*{
	border: none;
	font-family: 'Pou';
}
.page{
	max-width: 100%;
	height: 100vh;
	width: 390px;
	border: 1px solid #eee;
	display: flex;
	flex-flow: column;
	margin: auto;
	justify-content: center;
	background: #f2d187;
	position: relative;
	overflow: hidden;
}

.game-header{
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.game-header i{
	font-size: 20px;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.part-title{
	font-family: 'Pou';
	color: #fff;
	font-size: 26px;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.dino-container{
	width: 100%;
	display: flex;
	height: calc(100% - 100px);
	position: relative;
	justify-content: center;
}
.background{
	object-fit: cover;
	max-width: 100%;
}
.audio{
	position: absolute;
	opacity: 0;
	height: 0.1px;
	width: 0.1px;
}
.brush{
	width: 40px;
}
.dino{
	margin: auto;
	width: 245px;
	height: 400px;
	object-fit: cover;
	position: absolute;
	top: calc(100% - 375px);
}
.microphone{
	position: absolute;
	width: 50px;
	height: 185px;
	top: calc(100% - 185px);
}

.actions{
	height: 70px;
}
.activities{
	margin-top: auto;
	width: 100%;
	height: 70px;
	background: #0009;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.activity{
	color: #000;
	font-size: 18px;
	-webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #fff;
}
.activity i{
	color: #fff;
	font-size: 30px;
}
.foods{
	position: absolute;
	margin-top: auto;
	width: 100%;
	height: 100px;
	background: #0009;
	overflow-x: auto;
	display: flex;
	top: calc(100% - 100px);
}
.foods::-webkit-scrollbar{
	width: 2px!important;
	height: 2px!important;
	background: #fff0;
}
.foods::-webkit-scrollbar-thumb{
	background: #ddd;	
	border-radius: 0px;
}
.food{
	position: relative;
	display: flex;
	justify-content: center;
	flex-flow: column;
	padding: 5px 10px;
}
.food img{
	width: 40px;
    object-fit: cover;
    bottom: 20px;
    margin: 0 auto;
}

@keyframes happyDino {
	0%{
		transform: rotate3d(1, 1, 1, 0deg);
	}
	35%{
		transform: rotate3d(1, 1, 1, 10deg);
	}
	65%{
		transform: rotate3d(1, 1, 1, -10deg);
	}
	100%{
		transform: rotate3d(1, 1, 1, 0deg);
	}
}